package components

css img() {
    max-height: 18rem;
    max-width: 18rem;
}

css spc() {
    margin-top: 7rem;
}

templ spacer() {
    <div class={"spc", templ.KV(spc(), true)}></div>
}

templ header(d data) {
    <div>
        <h1>{d.Title}</h1>        
    </div>
    <div>
        <h6>{d.SubTitle}</h6>
    </div>
}

templ image(imgPath string) {
    @spacer()
    <img class={"rounded mx-auto d-block img ", templ.KV(img(),true)} src={imgPath} alt="alt text">
}